body{
    background-color: #F0F0F0;
    font-family: 'Abel', serif;
}

.logo-img {
    height: 105px;
    width: 105px;
}

.sub-heading {
    font-size: 65px;
}

.sub-sub-heading {
    font-size: 40px;
}
.cir1 {
    background-color: #E6563B;
    border: 8px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.cir2 {
    background-color: #EB9D3A;
    border: 8px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.cir3 {
    background-color: #7CB06C;
    border: 8px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.cir4 {
    background-color: #00ABA9;
    border: 8px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.content-container {
    margin-top: 5em;
    border-top: 2px solid #808080;
    font-family: Abel;
}
.card {
    margin-outside: 4px solid #E6E6E6;
}
.card-label>img {
    width: 50%;
    height: auto;
}
.dot {
    max-height: 1.5em;
    max-width: 1.5em;
}