* body {
    background-color: #F0F0F0;
    font-family: 'Abel', serif;
}

h1, h2, h3, h4 .anton-font {
    font-family: 'Anton', serif;
}
/* The following for the root is creating the background colors for the icons */
:root {
    --bs-redish: #E6563B;
    --bs-orangeish: #EB9D3A;
    --bs-greenish: #7CB06C;
    --bs-blueish: #00ABA9;
    --bs-greyish: #E6E6E6;
}

.bg-redish {
    background-color: var(--bs-redish);
}

.bg-orangeish {
    background-color: var(--bs-orangeish);
}

.bg-greenish {
    background-color: var(--bs-greenish);
}

.bg-blueish {
    background-color: var(--bs-blueish);
}

.bg-greyish {
    background-color: var(--bs-greyish);
}

.logo-img {
    height: 95px;
    width: 95px;
}

.sub-heading {
    font-size: 65px;
}

.sub-sub-heading {
    font-size: 40px;
}

.colored-icons {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 7px solid white;
    font-family: 'Anton', serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.colored-circles {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: black;
    font-family: 'Anton', serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1px 4px;
}

#selectedWork img {
    border:12px solid #E6E6E6;
    border-radius: 0.5em;
    width: 100%;
}